@model TypesModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Types Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Types</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.BookCount)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.BookCount)
        </dd>
        </dl>
    @if (Model.BookCount > 0)
    {
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.BookNamesOutput)
            </dt>
            <dd class="col-10">
                @Html.Raw(Model.BookNamesOutput)
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



